.cta{
    width: 100%;
    height: 13.9375rem;
    margin-bottom: 1.375rem;
    border-radius: 1.5625rem;
    margin-top: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('/cta-img.webp');
    background-position: center;
    &__img--filter{
        width: 100%;
        height: 13.9375rem;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1.5625rem;
        background-color: rgba(0,0,0,0.4);
    }
    &__title{
        z-index:1;
        text-align: center;
        color: white;
        font-size: 3rem;
        @media screen and (width < 1024px) {
            font-size: 2.5rem;
            top: calc(50% - 1.5313rem);
            left: calc(50% - 19.0938rem);
        }
        @media screen and (width < 768px) {
            font-size: 2rem;
            top: calc(50% - 1.2188rem);
            left: calc(50% - 15.25rem);
        }
    }
}